name: Format & Lint

on:
  pull_request:
    types:
      - opened
      - synchronize
      - ready_for_review
  workflow_dispatch:

jobs:
  apply:
    if: github.event.pull_request.draft == false
    permissions:
      contents: write
      actions: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
          cache: true
      - name: Check Deno
        run: |
          deno install --allow-scripts
          deno lint --fix
          deno fmt --check
